.Rproj.user
.Rhistory
.RData
.Ruserdata
.secrets
rt-forecast/data/samples
rt-forecast/logs
data-raw/*.csv
crowd-forecast/data-raw
Rplots.pdf
crowd-forecast/data/
rt-crowd-forecast/data-raw
analysis/epiforecasts-*